/* Margin Bottom space */
.mb- {
    &15 {
        margin-bottom: 15px;
    }

    &20 {
        margin-bottom: 20px;
    }

    &30 {
        margin-bottom: 30px;
    }
}

/* Padding Top space */
.pt- {
    &30 {
        padding-top: 30px;
    }

    &60 {
        padding-top: 60px;
    }

    &80 {
        padding-top: 80px;
    }

    &90 {
        padding-top: 90px;
    }
}

/* Padding Top, Bottom space */
.py- {
    &30 {
        padding-top: 30px;
        padding-bottom: 30px;
    }
}

/* Content Bottom space */
.bottom- {
    &sp30:after {
        height: 30px;
        content: "";
        display: block;
    }
    &sp40:after {
        height: 40px;
        content: "";
        display: block;
    }
    &sp50:after {
        height: 50px;
        content: "";
        display: block;
    }
    &sp60:after {
        height: 60px;
        content: "";
        display: block;
    }
    &sp70:after {
        height: 70px;
        content: "";
        display: block;
    }
    &sp80:after {
        height: 80px;
        content: "";
        display: block;
    }
    &sp90:after {
        height: 90px;
        content: "";
        display: block;
    }
}
