/* Padding space */
.pt- {
    &30 {
        padding-top: 30px;
    }

    &60 {
        padding-top: 60px;
    }

    &90 {
        padding-top: 90px;
    }
}

/* Content Bottom Space */
.bottom- {
    &sp60:after {
        height: 60px;
        content: "";
        display: block;
    }
    &sp70:after {
        height: 70px;
        content: "";
        display: block;
    }
    &sp80:after {
        height: 80px;
        content: "";
        display: block;
    }
}
