.categories-area {
    margin-right: -30px;
    height: auto;

    .swiper-slide{
        width: auto !important;
        border: 0;
        background: transparent;
        height: auto;
        display: block;

        .category {
            border-radius: 16px;
            padding: 0px 30px;
            text-transform: capitalize;
            font-weight: 500;
            line-height: 1.4;
            height: 70px;
            display: flex;
            align-items: center;
            font-size: 24px;
            border-width: 1px;
            position: relative;
            border: 1px solid var(--theme-color);
        }
    }
}
