node_modules
**/node_modules
**/dist
vendor
tests
.env
**/.env
.git
terraform
.docker-compose.yml
.docker-compose.*.yml
README.md
phpunit.xml

# Laravel cache files
bootstrap/cache/*.php
storage/framework/cache/*
storage/framework/views/*
storage/logs/*
