// Plugins
@import "plugins/plugins";

@import "base/reset";
@import "base/typography";

// Margin, Padding & Grid system
@import "layout/grid";
@import "layout/spacing";

@import "custom/fonts";
@import "custom/styles";

// validation styles
form {
    .form-group {
        span.invalid-feedback {
            font-size: 13px;
            line-height: 30px;
            color: $inputInValidColor;

            &::first-letter {
                text-transform: capitalize;
            }
        }
    }
}
