.dz-banner-heading {
    padding: 25px 0;
    box-sizing: border-box;
    position: relative;
    width: 100%;

    .head-title {
        font-size: 20px;
        margin: 0;
        font-weight: 600;
        color: $textColorWhite;
    }

    .item-qty {
        font-size: 14px;
        margin: 5px 0 0;
        color: $textColorWhite;
    }

    .category-icon {
        @include position(absolute, $right: 60px, $bottom: 0);
        opacity: 0.1;
        transform: scale(4.5);
    }
}

.dz-content {
    background-color: $themeColorLight;

    .deals-search {
        padding: 20px 0;
    }

    .searchbar {
        position: relative;
        flex-shrink: 1;

        input {
            @include circleBox(60px, 20px !important);
            background-color: #f0f0f0;
            border: none;
            font-size: 16px;
            padding: 12px 20px;
            width: 100%;
        }

        svg {
            @include position(absolute, $top: 50%, $right: 20px, $left: auto);
            width: 24px;
            height: 24px;
            margin-left: 12px;
            margin-top: -12px;
            color: #898989;
        }
    }
}
