<div class="posts-area mb-30">
    <swiper :autoplay="autoplay" :modules="modules" :slides-per-view="auto" :space-between="20" :pagination="true">
        <swiper-slide>
            <div class="post-card">
                <div class="post-media">
                    <img src="https://kede.dexignzone.com/xhtml/img/post/pic1.jpg" alt="">
                </div>
                <div class="post-info">
                    <h3 class="title">Recomended Recipe Today</h3>
                </div>
            </div>
        </swiper-slide>
        <swiper-slide>
            <div class="post-card">
                <div class="post-media">
                    <img src="https://kede.dexignzone.com/xhtml/img/post/pic1.jpg" alt="">
                </div>
                <div class="post-info">
                    <h3 class="title">Recomended Recipe Today</h3>
                </div>
            </div>
        </swiper-slide>
        <swiper-slide>
            <div class="post-card">
                <div class="post-media">
                    <img src="https://kede.dexignzone.com/xhtml/img/post/pic1.jpg" alt="">
                </div>
                <div class="post-info">
                    <h3 class="title">Recomended Recipe Today</h3>
                </div>
            </div>
        </swiper-slide>
    </swiper>
</div>
