// Max page width
$maxPageWidth: 425px;
$minScreenWidth: 426px;

// Theme color
$themeColor: #4CB32B;
$themeColorLight: #fafefc;

// Text color
$themeTextColor: #4CB32B;
$textColorHeading:#384144;

// Font family
$themeFontFamily: 'Poppins', sans-serif, sans-serif;

// z-index system
$zIndexMax: 9999;

// navbar
$navbarHeight: 60px;
