// ==== Sass variables
// Max page width
$maxPageWidth: 425px;
$minScreenWidth: 426px;

// === CSS variables
:root {
    // theme color
    --theme-color: #4CB32B;
    --theme-color-rgb: 146, 55, 227;
    --theme-color-shade: #4CB32B;
    --theme-color-tint: #a44ef1;
    --theme-color-light: #fafefc;

    // text color
    --text-color-heading: #384144;

    // main font family
    --theme-font-family: 'Poppins', sans-serif, sans-serif;

    // responsive
    --max-page-width: 425px;
}
