// Max page width
$minScreenWidth: 426px;

// Theme color
$themeColor: #4CB32B;
$themeColorLight: #fafefc;

// Text color
$themeTextColor: #4CB32B;
$textColorHeading:#384144;
$textColorWhite: #fff;
$textColorGray: #898a8d;

// Font family
$themeFontFamily: 'Poppins', sans-serif, sans-serif;

// z-index system
$zIndexMax: 9999;
$zIndexNavbar: 9998;

// navbar
$navbarHeight: 60px;
