<div class="toolbar tabbar tabbar-labels toolbar-bottom menubar-area">
    <div class="toolbar-inner">
        <a href="/home/" class="tab-link active">
            <font-awesome-icon icon="fa-solid fa-house" />
        </a>
        <a href="/categories/" class="tab-link">
            <font-awesome-icon icon="fa-solid fa-arrow-right-arrow-left" />
        </a>
        <a href="/shopping-cart/" class="tab-link">
            <div class="cart-in active">
                <font-awesome-icon icon="fa-solid fa-cart-shopping" />
            </div>
        </a>
        <a href="/wishlist/" class="tab-link">
            <font-awesome-icon icon="fa fa-heart" />
        </a>
        <a href="/user/" class="tab-link">
            <img src="https://kede.dexignzone.com/xhtml/img/avatar/1.jpg" class="user-media" alt="">
        </a>
    </div>
</div>
