.toolbar {
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 999;
    border-top: 1px solid #F4F4F4;
    background-color: #fafefc;

    // fix for responsive PC
    max-width: var(--max-page-width);
    margin: 0 auto;

    .toolbar-inner {
        padding: 0 30px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        align-content: center;
        height: 56px;

        .tab-link {
            padding: 0;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            overflow: unset;
            font-size: 22px;
            color: #B1B1B1;
            transition-duration: .3s;
            width: 100%;

            &.active {
                color: var(--theme-color);
            }

            .cart-in {
                position: relative;

                &::after {
                    content: "";
                    height: 8px;
                    width: 8px;
                    border: 2px solid #fff;
                    position: absolute;
                    right: -6px;
                    top: -2px;
                    border-radius: 10px;
                    background-color: var(--theme-color);
                }
            }

            .user-media {
                height: 24px;
                width: 24px;
                border-radius: 50%;
                object-fit: cover;
            }
        }
    }
}
